@font-face {
  font-family: 'nunito';
  src: /* IE9 Compat Modes */ url('fonts/Nunito-Light.eot');
  src: /* IE6-IE8 */ url('fonts/Nunito-Light.eot?#iefix')
      format('embedded-opentype'),
    /* Modern Browsers */ url('fonts/Nunito-Light.woff') format('woff'),
    /* Safari, Android, iOS */ url('fonts/Nunito-Light.ttf') format('truetype'),
    /* Legacy iOS */ url('fonts/Nunito-Light.svg#svgFontName') format('svg');
}

:root {
  --color-bg: #292f36;
  --color-primary: #ff6b6b;
  --color-secondary: #4ecdc4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  justify-content: center;
  align-items: center;

  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, max(24px, 20vw));
  grid-template-rows: repeat(2, 76px);
  padding-bottom: 5em;
}

.footer > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  max-width: 700px;
  min-width: 50%;
  /* grid-gap: 16px; */
  /* using padding instead in container box */
}

.container-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-col + .container-col {
  border-left: 1px solid #fff;
  padding-left: 16px;
}

/* colors */

.title {
  color: var(--color-primary);
}

h3 {
  color: var(--color-secondary);
}

p {
  margin-top: 1em;
  color: #ecede8;
}

/* fonts */

h1,
h3,
p {
  font-family: nunito, Consolas, monaco, monospace;
}

/* Sizes */

h1 {
  font-size: 4vw;
}

h3 {
  font-size: 2vw;
}

p {
  font-size: 1.5vw;
}

.logos {
  max-width: 76px;
  max-height: 76px;
  min-width: 16px;
  min-height: 16px;
  width: 10vw;
  height: 10vw;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .container-col {
    width: 100%;
    justify-content: center;
  }
  .container-col + .container-col {
    border-left: none;
    padding-left: 0;
    border-top: 1px solid #fff;
    padding-top: 16px;
  }
  h1 {
    font-size: 8vw;
  }
  h3 {
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
  }
}
